---
layout: default
title: 于仁颇黎|机器人行业从业者,观察者
---
{% for post in paginator.posts %}
<div class="wrapper">
    <h2 class="h2 entry-title"><a href="{{ post.url }}">{{ post.title }}</a> </h2>
    <div class="entry-meta">
                            更新: <span>{{ post.date | date:"%Y-%m-%d" }}</span>
                            |
                            <span>作者:<a href="http://brucebot.com">于仁颇黎</a></span>
                        </div>
    {{ post.content | truncatehtml: 170 }}
    <p> <a href="{{ post.url }}/#more" class="more-link"><span class="readmore">阅读全文 &raquo; </span></a></p>
    </div>
{% endfor %}

<!-- Pagination links -->
<div id="pagination">
  <div class="pagenavi">
    <span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
  <a href="/">首页</a>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="current"><<前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}"><<前页</a>
    {% endif %}
  {% else %}
    <span><<前页</span>
  {% endif %}
{% for count in (2..paginator.total_pages) limit:8 %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">后页>></a>
  {% else %}
    <span>后页>></span>
  {% endif %}
  <a href="/page{{paginator.total_pages}}">末页</a>
</div>
</div>

