---
layout: default
---
<div class="content">
	<div class="unit-inner unit-article-inner">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->
<div class="misc-content">
<div class="comment">
<div id="disqus_thread"></div>
<!--<script type="text/javascript">
var disqus_shortname = 'disqus-shortname'; 
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>-->
</div>
</div><!-- misc-content -->

	</div><!-- unit-inner -->
		</div><!-- content -->
	
